<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/catalog.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/topBar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/footer.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Catalog</title>
</head>

<body>

  {% include 'components/topBar.html' %}

  <section>
    <div class="header">
      <div class="header-bg">
        <div class="c1"></div>
        <div class="c0"></div>
        <div class="c2"></div>
        <div class="c0"></div>
        <div class="c3"></div>
        <div class="c0"></div>
        <div class="c4"></div>
        <div class="c0"></div>
        <div class="c5"></div>
        <div class="c0"></div>
        <div class="c">CATALOG</div>
      </div>
    </div>
  </section>
  {% include 'components/footer.html' %}


</body>

</html>