<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="top-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="catalog">Catalog</a></li>
        <li><a href="news">News</a></li>
        <li><a href="testimonials">Testimonials</a></li>
        <li><a href="contact_us">Contact Us</a></li>
        <li><a href="about_us">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="home" class="landing-page">
      <div class="branding">
        <h1>Rod's Printing Services</h1>
        <h2>Branding, Logo, Tagline</h2>
        <p>Brief description</p>
      </div>
      <div class="highlights">
        <h2>Products and Services Highlights</h2>
        <ul>
          <li><a href="catalog">Products</a></li>
          <li><a href="catalog.html#services">Services</a></li>
        </ul>
      </div>
    </section>

    <section id="catalog" class="catalog">
      <!-- Catalog content will be dynamically generated -->
    </section>

    <section id="news" class="blog">
      <!-- News/Blog content (optional) -->
    </section>

    <section id="testimonials" class="testimonials">
      <!-- Testimonials content will be dynamically generated -->
    </section>

    <section id="contact_us" class="contact">
      <!-- Contact Us content will be dynamically generated -->
    </section>

    <section id="about_us" class="about">
      <!-- About Us content will be dynamically generated -->
    </section>
  </main>
  <script src="scripts.js"></script>
</body>

</html>