<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
  <link rel=" stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/topBar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/footer.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">

  <title>Rod's Printing Services</title>
</head>

<body>

  {% include 'components/topBar.html' %}


  <main>
    <section>
      <div class="banner">
        <div class="color-lines">
          <div class="yellow">
          </div>
          <div class="magenta">
          </div>
          <div class="cyan">
          </div>
        </div>
        <div class="bannerB">
          <img src="static/images/banner/bannerBG.svg" alt="logo-background" class="banner-bG">
          <img src="static/images/banner/bannerLG.svg" alt="logo" class="banner-lG">
          <button class="learn-more" id="learn-more-btn">Learn More</button>
        </div>
        <div class="color-rounded">
          <div class="rounded1"></div>
          <div class="rounded2"></div>
          <div class="rounded3"></div>
        </div>
      </div>
      <div class="banner-extension">
        <div class="extension-line">
        </div>
      </div>

    </section>
    <section id="homepage" class="landing-page">
      <div class="banner-welcome">
        <div class="centered-line"></div>
        <div class="banner-welcome-bg">
          <h1 class="arimo" id="welcome-heading">Welcome!</h1>
          <p class="montRegNorm" id="welcome-text"> Get your projects printed quickly and affordably. Available in
            various sizes and vibrant
            colors.</p>
        </div>
      </div>
    </section>

    <section id="mission" class="mission animate-right">
      <div class="mission-side">
        <h1 class="montBoldNorm" id="h1-text">PRINTING YOUR IDEAS TO PERFECTION</h1>
        <h2 class="arimo" id="h2-text">Our Mission</h2>
        <p class="montRegNorm" id="p-text">We are dedicated to delivering exceptional printing solutions that cater to a
          diverse range of
          needs, from high-quality document and photo prints to specialized services like ID pictures and lamination.
          Simultaneously, we focus on enhancing the overall customer experience by providing comprehensive support
          services such as printer repairs, CISS installations, and convenient online appointment setting. Our
          commitment is to combine quality and service to meet and exceed your expectations in every aspect of printing.
        </p>
        <div class="mission-choose-column-container">
          <div class="mission-choose-column">
            <div class="mission-featured-review-box">
              <div class="mission-featured-reviewer-image">
                <img src="static/images/index/excellence_logo1.png" alt="Customer Image">
              </div>
              <div class="featured-review-content">
                <div class="mission-review-info">
                  <p class="mission-reviewer-name">Deliver Exceptional Printing Solutions</p>
                  <p class="montRegItal" class="review-text">Rod's Printing Services is committed to providing
                    top-quality printing
                    solutions tailored to meet the unique needs of our customers. Our goal is to ensure every project is
                    executed with precision and excellence.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="mission-choose-column">
            <div class="mission-featured-review-box">
              <div class="mission-featured-reviewer-image">
                <img src="static/images/index/excellence_logo2.png" alt="Customer Image">
              </div>
              <div class="featured-review-content">
                <div class="mission-review-info">
                  <p class="mission-reviewer-name">Comprehensive Printing Excellence</p>
                  <p class="montRegItal" class="review-text">Our mission extends beyond just printing; we aim to be a
                    trusted partner in
                    your printing needs by offering a range of services. We strive to make every interaction seamless
                    and satisfying, whether you are buying, repairing, or seeking expert advice.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mission-logo-side">
        <img src="static/images/index/arrow-img.png" alt="arrow-img">
      </div>
    </section>

    <section id="mission-catalog-divider" class="mission-catalog-divider">
      <img src="static/images/index/Divider.png" alt="Customer Image">
    </section>

    <section id="catalog-landing" class="catalog-landing">
      <div class="catalog-heading animate-right">
        <h1 class="arimo" id="catalog-h1-text">Products and Services</h1>
      </div>
      <div class="catalog-section products animate-right">
        <div class="catalog-product-lc">
          <div class="cpl-column-container">
            <div class="cpl-column" id="printers">
              <img src="static/images/index/catalog_landing/printers.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="primages-text">Printers</h1>
            </div>
            <div class="cpl-column" id="document-print">
              <img src="static/images/index/catalog_landing/document_print.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="primages-text">Document Print</h1>
            </div>
          </div>
          <div class="cpl-column-container">
            <div class="cpl-column" id="photo-prints">
              <img src="static/images/index/catalog_landing/photo_prints.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="primages-text">Photo Prints</h1>
            </div>
            <div class="cpl-column" id="invitations">
              <img src="static/images/index/catalog_landing/invitations.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="primages-text">Invitations</h1>
            </div>
          </div>
        </div>
        <div class="catalog-product-rc">
          <img src="static/images/index/catalog_landing/popular_products-bg.png" alt="Customer Image">
          <h1 class="arimo" id="productrc-heading">Popular Products</h1>
          <p class="montRegNorm" id="productrc-text">Our extensive range of popular products is designed to meet all
            your printing needs,
            whether for personal, professional, or creative projects. Here’s a look at some of our most sought-after
            products:</p>
        </div>
      </div>

      <div class="catalog-section services animate-left">
        <div class="catalog-services-lc">
          <img src="static/images/index/catalog_landing/popular_servicess-bg.png" alt="Customer Image">
          <h1 class="arimo" id="serviceslc-heading">Popular Services</h1>
          <p class="montRegNorm" id="serviceslc-text">We pride ourselves on offering a diverse range of services
            designed to meet your every
            printing need with efficiency and excellence. Here’s a closer look at our most popular services that
            customers love:</p>
        </div>
        <div class="catalog-services-rc">
          <div class="csl-column-container">
            <div class="csl-column" id="printer-repair">
              <img src="static/images/index/catalog_landing/printer-repair.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="psimages-text">Printer Repair</h1>
            </div>
            <div class="csl-column" id="ciss-installation">
              <img src="static/images/index/catalog_landing/ciss_installation.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="psimages-text">CISS Installation</h1>
            </div>
          </div>
          <div class="csl-column-container">
            <div class="csl-column" id="resume-maker">
              <img src="static/images/index/catalog_landing/resume_maker.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="psimages-text">Resume Maker</h1>
            </div>
            <div class="csl-column" id="buying-defectives">
              <img src="static/images/index/catalog_landing/buying_defective_printers.png" alt="Customer Image">
              <h1 class="montSemiNorm" id="psimages-text">Buying Defectives</h1>
            </div>
          </div>
        </div>
      </div>
    </section>



    {% include 'components/footer.html' %}

  </main>
  <script src="static/script/index.js"></script>
  <script src="static/script/topBar.js"></script>
  <script src="static/script/home.js"></script>
  <script src="static/script/Footer-menu/footer.js"></script>

</body>

</html>