<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
  <link rel=" stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/topBar.css') }}">
  <title>Document</title>
</head>

<body>

  {% include 'components/topBar.html' %}

  <main>
    <section>
      <div class="banner">
        <div class="color-lines">
          <div class="yellow">
          </div>
          <div class="magenta">
          </div>
          <div class="cyan">
          </div>
        </div>
        <div class="bannerB">
          <img src="static/images/banner/bannerBG.svg" alt="logo-background" class="banner-bG">
          <img src="static/images/banner/bannerLG.svg" alt="logo" class="banner-lG">
          <button class="learn-more">Learn More</button>
        </div>
        <div class="color-rounded">
          <div class="rounded1"></div>
          <div class="rounded2"></div>
          <div class="rounded3"></div>
        </div>
      </div>
      <div class="banner-extension">
        <div class="extension-line">
        </div>
      </div>
    </section>
    <section id="home" class="landing-page">

    </section>

    <section id="catalog" class="catalog">
      <!-- Catalog content will be dynamically generated -->
    </section>

    <section id="news" class="blog">
      <!-- News/Blog content (optional) -->
    </section>

    <section id="testimonials" class="testimonials">
      <!-- Testimonials content will be dynamically generated -->
    </section>

    <section id="contact_us" class="contact">
      <!-- Contact Us content will be dynamically generated -->
    </section>

    <section id="about_us" class="about">
      <!-- About Us content will be dynamically generated -->
    </section>

    {% include 'components/footer.html' %}

  </main>
  <script src="scripts.js"></script>

</body>

</html>