<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/testimonials.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/topBar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/footer.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Testimonials</title>
  </head>
  <body> {% include 'components/topBar.html' %} <main>
      <section class="black-bg-testimonials">
        <h1 id="testimonials-title">Testimonials</h1>
        <h2 id="testimonials-description">description</h2>
      </section>
      <section class="why-choose-layout">
        <h3 id="why-choose-name">Why Choose Us?</h3>
        <span id="why-choose-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        <div class="why-choose-column-container">
          <div class="why-choose-column" style="background-color: #FFF9AC;">
            <div class="featured-review-box">
              <div class="featured-reviewer-image">
                <img src="static/images/defaultIcon.png" alt="Customer Image">
              </div>
              <div class="featured-review-content">
                <div class="review-info">
                  <p class="reviewer-name">John Doe</p>
                  <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="why-choose-column" style="background-color: #ABE6FF;">
            <div class="featured-review-box">
              <div class="featured-reviewer-image">
                <img src="static/images/defaultIcon.png" alt="Customer Image">
              </div>
              <div class="featured-review-content">
                <div class="review-info">
                  <p class="reviewer-name">Jane Smith</p>
                  <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="why-choose-column" style="background-color: #FF9DD3;">
            <div class="featured-review-box">
              <div class="featured-reviewer-image">
                <img src="static/images/defaultIcon.png" alt="Customer Image">
              </div>
              <div class="featured-review-content">
                <div class="review-info">
                  <p class="reviewer-name">Alex Johnson</p>
                  <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="customer-section">
        <div class="customer-section-heading">
          <h1>Reviews:</h1>
        </div>
        <div class="customer-section-box-container">
          <div class="customer-section-box">
            <div class="customer-section-box-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="static/images/defaultIcon.png" />
                </div>
                <div class="name-user">
                  <strong>Touseeq Ijaz</strong>
                  <span>@touseeqijazweb</span>
                </div>
              </div>
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="client-comment">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
          </div>
          <div class="customer-section-box">
            <div class="customer-section-box-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="static/images/defaultIcon.png" />
                </div>
                <div class="name-user">
                  <strong>J.K Rowling</strong>
                  <span>@jkrowling</span>
                </div>
              </div>
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
            <div class="client-comment">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
          </div>
          <div class="customer-section-box">
            <div class="customer-section-box-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="static/images/defaultIcon.png" />
                </div>
                <div class="name-user">
                  <strong>Harry Potter</strong>
                  <span>@DanielRedclief</span>
                </div>
              </div>
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="client-comment">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
          </div>
          <div class="customer-section-box">
            <div class="customer-section-box-top">
              <div class="profile">
                <div class="profile-img">
                  <img src="static/images/defaultIcon.png" />
                </div>
                <div class="name-user">
                  <strong>Oliva</strong>
                  <span>@Olivaadward</span>
                </div>
              </div>
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </div>
            <div class="client-comment">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, quaerat quis? Provident temporibus architecto asperiores nobis maiores nisi a. Quae doloribus ipsum aliquam tenetur voluptates incidunt blanditiis sed atque cumque.</p>
            </div>
          </div>
        </div>
        </div>
      </section> {% include 'components/footer.html' %}
    </main>
    <script src="static/script/topBar.js"></script>
  </body>
</html>