/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 5px 0;
}
#about-us-title {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
    letter-spacing: -2px;
    font-size: 80px;
    font-style: italic;
    -webkit-text-stroke: 3px black; 
}

/*#about-us-description {
    position: absolute;
    top: 360px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
    font-size: 30px;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 2px black; 
}
*/

.black-bg-about-us{
    height: 250px;
    background-color: #292929;
}
.catalog-bg-image {
    width: 100%;
    /* Make the image fill the entire width of its container */
    height: 250px;
    /* Set the height to 320 pixels */
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire container */
}




#team-name{
    font-size: 60px;
}

#team-description{
    position: absolute;
    font-size: 30px;
    top: 474.5px;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.team-layout {
    text-align: center; /* Center align the content */

    margin-top: 75px;
}

.team-column-container {
    display: flex;
    justify-content: center; /* Center align the columns horizontally */
    width: 50%;
    margin: 0 auto; /* Set left and right margins to auto to center the container */
    height: 500px;
    padding-top: 20px;
}

.team-column {
    flex: 1; /* Distribute equal space among columns */
    background-color: #f2f2f2; /* Background color for columns (adjust as needed) */
    margin: 0; /* Add some margin between columns */
}
.team1{
    background-color: #F3F3F3;
}
.team2{
    background-color: #DEDEDE;
}


#mission-name{
    font-size: 50px;
    font-weight: bold;
}

#mission-description{
    position: absolute;
    font-size: 30px;
    top: 1200px;
    left: 50%;
    transform: translate(-50%, -50%);

}


.mission-layout {
    text-align: center; /* Center align the content */
    padding-bottom: 30px;
    margin-top: 75px;
}