/* General styles */

body {
    margin: 0;
    padding: 0;
}

.titleCatalog {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.descCatalog {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}



h2 {
    margin: 5px 0;
}

.header {
    margin: auto;
    height: auto;
    background-color: #F7F6F6;
    width: auto;
}

#banner-title {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
    letter-spacing: -2px;
    font-size: 100px;
    font-family: "Arimo", sans-serif;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: 4px black;
}

/*#catalog-description{
    position: absolute;
    top: 294px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
    font-size: 30px;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 2px black; 

}
*/
.header-bg {
    position: relative;
    height: 250px;
    background-color: #F7F6F6;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 320px;
}


.catalog-bg-image {
    width: 100%;
    /* Make the image fill the entire width of its container */
    height: 520px;
    /* Set the height to 320 pixels */
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire container */
}

.products {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grid-container {
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-item {
    background-color: #F7F7F7;
    border: 1px solid #ccc;
    color: #000;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    transition: 0.5s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 12px;
}

.grid-item .image {
    width: 240px;
    height: 240px;
    border-radius: 16px;
    padding: 8px;
}

.grid-item:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transform: translateY(-15px);

}

.grid-item h5 {
    padding-top: 12px;
    text-align: center;
}

#products-intro {
    width: 800px;
    text-align: justify;
    margin: 0 auto;
    font-weight: 400;
    text-indent: 1in;
    font-style: normal;
}