.banner {
    margin: auto;
    height: 520px;
    background-color: #F7F6F6;
    max-width: 1800px;
}

.header {
    margin: auto;
    height: auto;
    background-color: #F7F6F6;
    max-width: 1600px;
}

.header-bg {
    position: relative;
    height: 520px;
    background-color: #F7F6F6;
    margin: auto;
    border-top: 2em solid #F7F6F6;
    border-bottom: 2em solid #F7F6F6;
    border-right: 1.5em solid #F7F6F6;
    border-left: 1.5em solid #F7F6F6;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 100px auto;
}

.c0 {
    background-color: #ECECEC;
    width: 6.4%;
}

.c1 {
    background-color: #F5DBE9;
    width: 6.4%;
}

.c2 {
    background-color: #D0DFE7;
    width: 6.4%;
}

.c3 {
    background-color: #F6F3E0;
    width: 6.4%;
}

.c4 {
    background-color: #F5DBE9;
    width: 6.4%;
}

.c5 {
    background-color: #D0DFE7;
    width: 6.4%;
}

.banner-overlap {
    position: absolute;
    margin: auto;
    padding-left: 12vw;
    top: 220px;
    display: flex;
    gap: 25vw;
}

.banner-image {
    transform: translate(0, -24%);
}

.border-line {
    height: 24px;
    background-color: #704F4F;
}

.product-description h1 {
    margin: 0;
}

#avail-now {
    background-color: transparent;
    text-align: center;
    margin-top: 16px;
    padding: 6px 24px;
    border-radius: 16px;
    border-width: 1.5px;
    width: 180px;

}

#avail-now:hover {
    background-color: #292929;
    color: white;
    cursor: pointer;
}

.product-information {
    margin: auto;
    padding-top: 160px;
    max-width: 1348px;
    margin-bottom: 120px;
}

.product-images {
    margin: 0 120px;
    display: flex;
    flex-direction: row;
}

.product-images h5 {
    position: absolute;
    transform: translate(18px, -48px);
}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.sample1 {
    background-color: #f3f3f3;
    height: 320px;
    width: 640px;
}

.col2 {
    background-color: #f3f3f3;
    height: 672px;
    width: 420px;
    margin-left: auto;
}

.product-details {
    padding: 0 120px;
    margin-top: 64px;
    margin-left: 12px;
}

.product-details h5 {
    margin-bottom: 16px;
}