/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}


h2 {
    margin: 5px 0;
}



.branding {
    margin-bottom: 20px;
}

.highlights {
    margin-top: 20px;
}

.highlights ul {
    list-style-type: none;
    padding: 0;
}

.highlights ul li {
    display: inline;
    margin-right: 20px;
}

.highlights ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
}

.highlights ul li a:hover {
    background-color: #333;
    color: white;
}

.banner {
    margin: auto;
    background-color: #292929;
    height: 320px;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: row
}

.banner-extension {
    margin: auto;
    background-color: #292929;
    height: 152px;
    width: 30vw;
    border-radius: 0 0 40px 40px;
    display: flex;
    justify-content: center;
}

.extension-line {
    margin-top: 128px;
    background-color: #424242;
    height: 10px;
    width: 24vw;
    border-radius: 0 0 5px 5px;
}

.color-lines {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 12px;
}

.yellow {
    background-color: #FFE03F;
    height: 24px;
    width: 160px;
}

.magenta {
    background-color: #E6007E;
    height: 24px;
    width: 160px;
}

.cyan {
    background-color: #11ADFF;
    height: 24px;
    width: 160px;
}

.color-rounded {
    margin: 0 0 auto auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    padding: 40px 20px 0 0;
}

.rounded1 {
    background-color: #FFE03F;
    height: 20px;
    width: 48px;
    border-radius: 10px;
}

.rounded2 {
    background-color: #2ACA3A;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.rounded3 {
    background-color: #BC0C0C;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.bannerB {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-bG {
    margin-top: 0;
    height: 420px;
    width: 68vw;
    object-fit: cover;
}

.banner-lG {
    position: absolute;
    margin-top: 40px;
    width: 880px;
    padding-right: 56px;
}

.learn-more {
    background-color: transparent;
    position: absolute;
    text-align: center;
    padding: 6px 24px;
    border-radius: 16px;
    border-width: 1.5px;
    margin-top: 344px;
    margin-left: 720px;
}

.learn-more:hover {
    background-color: #292929;
    color: white;
    cursor: pointer;
}


/* Catalog section styles */
.catalog {
    text-align: center;
    padding: 50px;
    
}

.catalog h2 {
    margin-bottom: 20px;
}

/* Testimonials section styles */
.testimonials {
    text-align: center;
    padding: 50px;
}

.testimonials h2 {
    margin-bottom: 20px;
}

/* Contact section styles */
.contact {
    text-align: center;
    padding: 50px;
}

.contact h2 {
    margin-bottom: 20px;
}

/* About section styles */
.about {
    text-align: center;
    padding: 50px;
}

.about h2 {
    margin-bottom: 20px;
}

/* Landing page styles */
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
}

#homepage {
  width: full;
  margin-top: 50px; 
  padding: 0;
}
.banner-welcome{
    width: 100%;
    height: 300px;
    position: relative; /* Positioning context for absolute positioning */
    box-sizing: border-box; /* Include padding and border in the total width */
    text-align: center;
}
.banner-welcome-bg {
    width: 50%;
    margin: 0 auto;
    background-color: #292929;
    position: relative;
    height: 250px;
    border-radius: 50px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.centered-line {
    position: absolute; 
    top: 37%; 
    left: 0; 
    right: 0;
    height: 30px; 
    background-color: #2c2c2c; 
}
.mission-catalog-divider {
    position: relative; 
    left: 0; /* Align with the left edge of the viewport */
    right: 0; /* Align with the right edge of the viewport */
    width: 100%; /* Ensure the section takes up the full width of the viewport */
    margin: 0; /* Remove any default margins */

    /* Optional: To ensure the image itself also takes the full width */
    display: flex; /* Use flex to control the child element */
    justify-content: center; /* Center the image horizontally */
}

.mission-catalog-divider img {
    width: 100%; /* Make the image take up the full width of the section */
    height: auto; /* Maintain the aspect ratio of the image */
}


#welcome-heading {
    font-size: 60px; /* Adjust font size as needed */
    padding-top: 40px;
    color: white;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 2px #11ADFF; 
}
#welcome-text{
    text-align: center;
    font-size: 16px; /* Adjust font size as needed */
    padding-top: 20px;
    color: white;
    
}


#mission {
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}

.mission-side {
    padding: 50px; /* Optional padding for spacing */
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}
.mission-logo-side{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 1200px;
}


#h1-text{
    font-size: 24px;
    margin-bottom: 20px; 
    font-style: bold;
}
#h2-text{
    font-size: 100px; 
    margin-bottom: 20px;
    color: #E6007E;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 1px #d3d3d3; 
}

#p-text{
    max-width: 60%; 
    font-size: 16px; /* Example font size for the mission description */
    line-height: 1.6; /* Example line height for readability */
    text-align: justify;
    
}
.arrow-img{
    width: 100%; /* Make the image fill the entire width of its container */
    height: 250px; /* Set the height to 320 pixels */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    align-self: flex-end;
    display: flex;
}
.mission-choose-column-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    
}

.mission-choose-column {
    width: 350px;
    height: 450px; /* Adjust height as needed */
    margin: 10px;
    flex: 1;
    overflow: hidden; /* Ensure content inside doesn't overflow */
}

.mission-featured-review-box {
    padding: 20px;

}

.mission-featured-reviewer-image {
    text-align: center;
    margin-bottom: -35px;
    z-index: 2;
}

.mission-featured-reviewer-image img {
    width: 65px; /* Adjust width as needed */
    height: 65px; /* Adjust height as needed */
    border-radius: 50%; /* Make it a circle */
}
.mission-review-info {
    margin-top: 10px;
    height: 350px;
    border-radius: 30px;
    padding: 20px; /* Add padding to create space around the content */
    border: 1px solid black; /* Black border */
    text-align: center;
    font-style: italic;
    
}

.mission-reviewer-name {
    margin-top: 15px; /* Adjust margin as needed */
    font-size: 20px; /* Adjust font size as needed */
    font-weight: bold; /* Make the name bold */
    color: #333; /* Adjust color as needed */
    z-index: 2;
}

#catalog-landing{
    margin: 0 auto;
    max-width: 2000px;
    margin-bottom: 100px;
}

.catalog-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-product-lc{
  width: 40%; /* Adjusted to 48% to account for some spacing */
  box-sizing: border-box;
  padding: 10px;
}


.catalog-heading {
    padding: 50px; /* Optional padding for spacing */
    align-items: center;
    display: flex;
    flex-direction: column;
}
#catalog-h1-text{
    font-size: 70px; 
    margin-bottom: 20px;
    color: #F1CB00;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 2px #d3d3d3; 
    
}

.cpl-column-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    padding-left: 120px;
    margin-right: -170px;
}

.cpl-column {
    flex: 1;
    overflow: hidden; /* Ensure content inside doesn't overflow */
    display: flex;
    transition: 0.5s ease;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
}

.cpl-column img {
    max-width: 100%; /* Ensure images do not overflow their containers */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
}

.cpl-column:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transform: translateY(-15px);
}

#primages-text {
    font-size: 28px;
    margin-top: 10px; /* Space between image and text */
    text-align: center; /* Center the text */
}

.catalog-product-rc {
    width: 60%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}


.catalog-product-rc img {
    position: absolute;
    width: auto;
    z-index: 1; /* Ensure the image stays behind the text */
}

#productrc-heading{
    font-size: 50px;
    position: relative;
    padding-top: 80px;
    padding-right: 16%;
    z-index: 2; /* Ensure the text stays above the image */
    color: black;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 1px #ffcee9; 
}

#productrc-text {
    font-size: 20px;
    position: relative;
    padding-right: 6%;
    z-index: 2; /* Ensure the text stays above the image */
    color: white; /* Adjust the color as needed */
    text-align: center;
    width: 70%;
}



.catalog-section.services {
  background-color: white;
}

.catalog-services-rc{
  width: 55%; /* Adjusted to 48% to account for some spacing */
  box-sizing: border-box;
  padding: 10px;
}


.csl-column-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    padding-left: -150px;
    margin-right: 170px;
}

.csl-column {
    flex: 1;
    overflow: hidden; /* Ensure content inside doesn't overflow */
    display: flex;

    transition: 0.5s ease;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
}

.csl-column img {
    max-width: 100%; /* Ensure images do not overflow their containers */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
}

.csl-column:hover {
    filter: brightness(0.9);
    cursor: pointer;
    transform: translateY(-15px);
}

#psimages-text {
    font-size: 28px;
    margin-top: 10px; /* Space between image and text */
    text-align: center; /* Center the text */
}

.catalog-services-lc {
    width: 40%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;

}
.catalog-services-lc img {
    position: absolute;
    width: auto;
    z-index: 1; /* Ensure the image stays behind the text */
}



#serviceslc-heading{
    font-size: 50px;
    position: relative;
    padding-top: 80px;
    padding-right: 22%;
    z-index: 2; /* Ensure the text stays above the image */
    color: black;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 1px #ffcee9; 
}

#serviceslc-text {
    font-size: 20px;
    position: relative;
    padding-right: 16%;
    z-index: 2; /* Ensure the text stays above the image */
    color: white; /* Adjust the color as needed */
    text-align: center;
    width: 90%;
}
/* Define keyframes for left and right animations */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply the animations */
.animate-left {
  transform: translateX(-100%);
  opacity: 0;
}

.animate-right {
  transform: translateX(100%);
  opacity: 0;
}

.start-animation.animate-left {
  animation: slideInFromLeft 1s forwards;
}

.start-animation.animate-right {
  animation: slideInFromRight 1s forwards;
}

