/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 5px 0;
}

.news-bg-container {
    height: 320px;
}

.news-bg-image {
  width: 100%; /* Make the image fill the entire width of its container */
  height: 250px; /* Set the height to 320 pixels */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

#news-title {
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2F2F2;
    display: inline-block;
    letter-spacing: -2px;
    font-size: 80px;
    font-style: italic;
    -webkit-text-stroke: 3px black; 
}

/*#news-description {
    position: absolute;
    top: 360px; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: inline-block;
    font-size: 30px;
    letter-spacing: -2px;
    font-style: italic;
    -webkit-text-stroke: 2px black; 
}
*/
.news-spacing {
    height: 500px;
}