<div class="avail-form" id="oc-visibility">
  <div class="avail-header" id="oc-header">
    <p id="avail-item">Order Confirmed</p>
    <img id="oc-close" src="static/images/icons/x.svg" alt="close button" onclick="closeOC()" />
  </div>
  <div class="avail-container" id="oc-container">
    <p>Your order has been placed successfully!</p>
    <img id="oc-icon" src="static/images/icons/oc.svg" alt="Order Confirmed Ico" width="200px" />
    <p>Kindly check your email for the order confirmation.</p>
    <button id="ok" onclick="closeOC()">Ok</button>
  </div>
</div>