<header>
  <nav class="top-nav" id="topNav">
    <ul>
      <li>
        <img src="static/images/topBar/bossRodLogo.svg" alt="Logo" class="bossRodLogo">
      </li>

      <li><a href="/" id='home'>Home</a></li>
      <li><a href="catalog" id='catalog'>Catalog</a></li>
      <li><a href="news" id='news'>News</a></li>
      <li><a href="testimonials" id='testimonials'>Testimonials</a></li>
      <li><a href="contact_us" id='contact-us'>Contact Us</a></li>
      <li><a href="about_us" id='about-us'>About Us</a></li>

    </ul>
  </nav>
</header>